@model List<StoreShop.Data.StoreModel>

<div class="overflow-auto " style="max-height:200px;">

    <table class="table table-bordered table-striped" style="max-height:200px;">
        <tr>
            <th>Store Name</th>
            <th>Store Location</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.StoreName</td>
                    <td> </td>
                    <td><i class="fa fa-edit"></i>Edit</td>
                    <td><i class="fa fa-trash-alt"></i>Delete</td>
                </tr>
            }
        }
    </table>
</div>