@model List<StoreShop.Data.StoreModel>

<div class="overflow-auto " style="max-height:200px;">

    <table class="table table-bordered table-striped" style="max-height:200px;">
        <tr>
            <th>Store Name</th>
            <th>Store Location</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.StoreName</td>
                    <td> </td>
                    <td>
                        <a href="javascript:void(0)" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a></td>
                    <td>
                        <a href="javascript:void(0)" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                    </td>
                </tr>
            }
        }
    </table>
</div>