@model StoreShop.Data.ProductTypeModel

<script>
    $(function () {
        $("#btnSaveProductType").click(saveProductType);
    })
</script>


<!----- ----------------Modal body-------------------------------->
@Html.HiddenFor(m => m.ProductTypeId)
<div class=" form-group row">
    <label class="col-lg-5">Product Type Name<span class="">*</span>:</label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.ProductTypeName, new { @class = "form-control", @required = "true" })
        <span style="color:red"> @Html.ValidationMessageFor(m => m.ProductTypeName)</span>
    </div>
</div>

<!--------------------------Modal Footer--------------------->
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" id="btnSaveProductType">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>



