@model List<ClothingCardModel>
<script>
    $(function () {
        $(".prodCard").hover(
            function () {
                $(this).addClass('shadow').css('cursor', 'pointer');
            }, function () {
                $(this).removeClass('shadow');
            }
        );

    })
</script>


<div class="d-flex">
    <!-------left side filters-------------->
    <div class="col-md-2 w-100" style="width:610px;margin-left:-13px;">
        <div class="card ">
            <div class="card-header bg-white font-weight-bold "><h5>Filters</h5></div>
        </div>
        @await Html.PartialAsync("~/Views/Filters/_PriceFilter.cshtml")
        @await Html.PartialAsync("~/Views/Filters/_SizeFilter.cshtml")
        @await Html.PartialAsync("~/Views/Filters/_ClothBrandFilter.cshtml")
    </div>

    <!-----------these are product cars----------->
    <div class="col-md-10 w-100">
        <div class="row">

            <div class=" col-lg-3 col-md-3 col-sm-6">
                <div class="card form-group prodCard">
                    @await Html.PartialAsync("~/Views/Product/Clothing/_SingleClothCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-3 col-sm-6">
                <div class="card form-group prodCard">
                    @await Html.PartialAsync("~/Views/Product/Clothing/_SingleClothCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-3 col-sm-6">
                <div class="card form-group prodCard">
                    @await Html.PartialAsync("~/Views/Product/Clothing/_SingleClothCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-3 col-sm-6">
                <div class="card form-group prodCard">
                    @await Html.PartialAsync("~/Views/Product/Clothing/_SingleClothCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-3 col-sm-6">
                <div class="card form-group prodCard">
                    @await Html.PartialAsync("~/Views/Product/Clothing/_SingleClothCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-3 col-sm-6">
                <div class="card form-group prodCard">
                    @await Html.PartialAsync("~/Views/Product/Clothing/_SingleClothCard.cshtml")
                </div>
            </div>

        </div>

    </div>

</div>




<div class="row">
    <div class=" col-lg-3 col-md-4 col-sm-6">
        <div class="card form-group prodCard">
            @{
                foreach (var item in Model)
                {
                    @await Html.PartialAsync("~/Views/Product/Clothing/_SingleClothCard.cshtml", item)

                }
            }
        </div>
    </div>
</div>

@section Footer{
    <partial name="_FooterPartial" />
}



