<div class="card prodCard">
    <div class="card-body">
        <div class="card-title">Price</div>
        <a class="text-decoration-none" href="#">Under &#8377;500</a> <br />
        <a class="text-decoration-none" href="#">&#8377;500 - &#8377;750</a><br />
        <a class="text-decoration-none" href="#">&#8377;750 - &#8377;1000</a><br />
        <a class="text-decoration-none" href="#">&#8377;1000 - &#8377;1500</a><br />
    </div>
</div>