<div class="card">
    <div class="card-title">Price</div>
        <a class="text-decoration-none" href="#">Under &#8377;500</a>
        <a class="text-decoration-none" href="#">&#8377;500 - &#8377;750</a>
        <a class="text-decoration-none" href="#">&#8377;750 - &#8377;1000</a>
        <a class="text-decoration-none" href="#">&#8377;1000 - &#8377;1500</a>
</div>