
<div class="card">
    <div class=" d-flex col-md-12">
        <div class="flex-column col-md-3">
            <div class="border  d-flex justify-content-center amar">
                <img style="height:50px;" src="~/img/ProductImg/godrej-original-image.jpeg" />
            </div>
            <div class="border d-flex justify-content-center">
                <img style="height:50px;" class="" src="~/img/ProductImg/godrej-original-image.jpeg" />
            </div>
        </div>
        <div class="card col-md-9 " >
            <img style="" src="~/img/ProductImg/godrej-original-image.jpeg" />

        </div>
    </div>
</div>