<div class="card">
    <div class="card-title">
        <h5>
            Godrej 260 L Frost Free Double Door Top Mount 3 Star (2020) Convertible Refrigerator
            (Steel Rush, RF EON 260C 35 RCIF ST RH)
        </h5>
    </div>

    <div class="card-body " id="divPriceInfo">
        <div class="form-inline">
            <h4><span>&#8377;</span>22,234</h4> &nbsp;&nbsp;
            <h6><del>25,900</del></h6>
        </div>
        <div class=""><i></i></div>

        <div class="flex-column">
            <p>4.210,147 ratings and 1,311 reviewsAvailable offers</p>
            <p>Flipkart Pay Later?</p>
            <p>Special PriceGet extra 56% off (price inclusive of discount)T&C</p>
            <p>Combo OfferBuy 2 or more items save ₹50See all productsT&C  </p>          
             <p>Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
                <br />
                +1 more offer
                <br />
            </p>
        </div>

    </div>
</div>