<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreShop</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="https://use.fontawesome.com/a00f9830a5.js"></script>
    <script src="~/js/Settings.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <link href="~/lib/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <!-----------------Jquery UI--------------------------------------------------->


    <link rel="stylesheet" href="~/lib/jqueryUI/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/jqueryUI/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryUI/jquery-ui.theme.min.css" />
    <script type="text/javascript" src="~/lib/jqueryUI/jquery-ui.min.js"></script>
    <!------------------------Jquery UI end here---------------------------------------->

</head>
<body>
   
    
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap" style="height:100vh">
            <div class="col border-left-0" style="max-width:30rem;">
                    @RenderBody()
            </div>
    </div>

    @*<footer class="border-top footer text-muted ">
        <div class="d-flex justify-content-center flex-wrap">
            &copy; 2020 - StoreShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
