@model List<StoreShop.Data.UserModel>

    <div class="overflow-auto " style="max-height:200px;">
        <table id="tblUserDetsils" class="table table-bordered table-striped  table-hover">          
                <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>          
            
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.FirstName + @item.LastName</td>
                            <td><i class="fa fa-pencil"></i> Edit</td>
                            <td><i class="fa fa-trash-alt"></i> Delete</td>
                        </tr>
                    }
                }
            
        </table>
        </div>