@model CartItemModel

<div class="d-flex">
    <!-----left panel---->
    <div class="col-md-3 col-sm-3">
        <img src="~/img/ProductImg/Laptop.jpg" class="w-100" />
    </div>
    <!----Middle pannel------>
    <div class="col-md-7 col-sm-7 flex-column">
        <span>@Model.Product.ProductName <br />
            (@Model.Product.ModelName)
        </span>
        <div class="d-flex">
            <a class="" href="#" onclick="removeCartItem(@Model.CartItemId, @Model.ProductId)">Delete </a>
            <spn>&nbsp; | &nbsp;</spn>
            <a class="" href="#" onclick=""> Save for later</a>
        </div>
    </div>
    <!-----Right pannel------->
    <div class="col-md-2 col-sm-2 d-flex justify-content-end">
        &#8377;@Model.Product.MRP
    </div>

</div>
