@model StoreShop.Data.OTPLogOnModel
@{
        Layout = "_LogonLayout";

    }
<script>
    $(function () {
        $("#requestOTPId").on("click", getVerificationCode);
    })

    function getVerificationCode() {
        $("#spanCellNo").html("");
        $("#OTPSuccessMessage").html("");

        var cellNo = $("#CellNo").val();

        if (cellNo == 0 || cellNo.length < 10) {
            $("#spanCellNo").html("Please enter valid Mobile number");
            return false;
        }
        else {
            $("#spanCellNo").html("");
        }

        var url = "/account/getOTP";
        $.post(url, { cellNo: cellNo }, function (data) {
            $("#OTPSuccessMessage").html(data.message);
            if (data.sent) {
                $("#requestOTPId").html("Resend OTP");
            }
        });
    }
</script>
<div class="border shadow rounded-lg  align-items-center mt-5">


    @using (Html.BeginForm("LogOnWithOTP", "Account", FormMethod.Post))
    {
        <div class="form-group d-flex justify-content-center" style="background-color: aliceblue; ">
            <h4>Login</h4>
        </div>

        <div class="form-group pl-5 pr-5">
            <div>
                @Html.TextBoxFor(m => m.CellNo, new { @class = "form-control", @required = "true", @placeholder = "Mobile number" })
                <span id="spanCellNo" style="color:red"> @Html.ValidationMessageFor(m => m.CellNo)</span>
                <span class="text-danger" id="OTPSuccessMessage"></span>

            </div>
        </div>


        <div class="form-group pl-5 pr-5">
            <div>

                @Html.TextBoxFor(m => m.OTP, new { @class = "form-control", @required = "true", @placeholder = "Enter OTP" })
                <span style="color:red">@Html.ValidationMessageFor(m => m.OTP)</span>
                <div>
                    <a id="requestOTPId" href="javascript:void(0)" style="text-decoration : none">Get verification code</a>
                </div>
            </div>
        </div>

        <div class="form-group pl-5 pr-5">
            <div>
                <button type="submit" id="btnLogIn" class="btn btn-primary form-control" style="width:100%;">Verify OTP</button>
            </div>
        </div>


        <div class="text-center">
            <a id="" asp-action="Index" asp-controller="account" style="text-decoration : none">Sign in with Email</a>
        </div>

    }
</div>

<div class="justify-content-center text-center">
    <span>Do not have an account? <a asp-action="showSignUpOptions" asp-controller="account" style="text-decoration:none">Sign Up</a> </span>

</div>





@section Scripts{ 

<partial name="_ValidationScriptsPartial" />
}


