
<a asp-action="" asp-controller="product" class="text-decoration-none" target="_blank">
    <img src="~/img/ProductImg/Laptop.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h6 class="card-title text-muted">Dell Vostro</h6>
        <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to additional content.
            <br />This content is a little bit longer.

        </p>
        <p class="card-text font-weight-bolder">
            &#8377;12,000
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</a>