@model List<TelevisionCardModel>
<script>
    $(function () {
        $(".card").hover(
            function () {
                $(this).addClass('shadow').css('cursor', 'pointer');
            }, function () {
                $(this).removeClass('shadow');
            }
        );

    })
</script>

@*<div class="row">
        <div class=" col-lg-3 col-md-4 col-sm-6">
            <div class="card form-group">
                @{
                    foreach (var item in Model)
                    {
                        @await Html.PartialAsync("~/Views/Product/Television/_SingleTelevisionCard.cshtml", item)

                    }
                }
            </div>
        </div>
    </div>*@

@*@{
        foreach (var item in Model)
        {
            <div class="card ">
                <img src="~/img/ProductImg/Luggage.jpg" class="card-img-top" alt="..." style=" height: 200px; width: 200px;">
                <div class="card-body">
                    <h6 class="card-title">@item.BrandModel.BrandName</h6>
                    <p class="card-text">
                        @item.ProductName | @item.ModelName
                    </p>
                    <p class="card-text">
                        @item.Price
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        }
    }*@

<div class="d-flex">
    <div class="col-md-2" style="width:610px;">
        <div class="card">
            <div class="card-header">Filters</div>
        </div>
        @await Html.PartialAsync("~/Views/Filters/_PriceFilter.cshtml")
        @await Html.PartialAsync("~/Views/Filters/_SizeFilter.cshtml")
        @await Html.PartialAsync("~/Views/Filters/_ClothBrandFilter.cshtml")

    </div>


    <div class="col-md-10">
        @*these are product cars*@
        <div class="row">

            <div class=" col-lg-3 col-md-4 col-sm-6">
                <div class="card form-group">
                    @await Html.PartialAsync("~/Views/Product/Television/_SingleTelevisionCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-4 col-sm-6">
                <div class="card form-group">
                    @await Html.PartialAsync("~/Views/Product/Television/_SingleTelevisionCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-4 col-sm-6">
                <div class="card form-group">
                    @await Html.PartialAsync("~/Views/Product/Television/_SingleTelevisionCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-4 col-sm-6">
                <div class="card form-group">
                    @await Html.PartialAsync("~/Views/Product/Television/_SingleTelevisionCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-4 col-sm-6">
                <div class="card form-group">
                    @await Html.PartialAsync("~/Views/Product/Television/_SingleTelevisionCard.cshtml")
                </div>
            </div>

            <div class=" col-lg-3 col-md-4 col-sm-6">
                <div class="card form-group">
                    @await Html.PartialAsync("~/Views/Product/Television/_SingleTelevisionCard.cshtml")
                </div>
            </div>

        </div>

    </div>

</div>





@section Footer{
    <partial name="_FooterPartial" />
}