@model StoreShop.Data.BrandModel

<script>
    $(function () {
        $("#btnSaveBrand").click(saveBrand);
    })
</script>

<!-----------------------------Modal body ---------------------------->
@Html.HiddenFor(m => m.BrandId)
<div class=" form-group row">
    <label class="col-lg-5">Product Type Name<span style="color:red">*</span>:</label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.BrandName, new { @class = "form-control", @required = "true" })
        <span style="color:red"> @Html.ValidationMessageFor(m => m.BrandName)</span>
    </div>
</div>

<!--------------------------------Modal Footer--------------------------->
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" id="btnSaveBrand">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>



