@model List<StoreShop.Data.UserModel>

    <table border="1" class="box-shadow"> 
        <tr>
            <th>User Id</th>
            <th>User name</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr>
            @{
                foreach (var item in Model)
                {
                    <td>@item.UserId</td>
                    <td>@item.UserName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                }
            }


        </tr>
    </table>