@model Reservation.Data.UserModel

    <table border="1" class="box-shadow"> 
        <tr>
            <th>User Id</th>
            <th>User name</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr>
            <td>@Model.UserId</td>
            <td>@Model.UserName</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>

        </tr>
    </table>