<div>
    <h5>Godrej 260 L Frost Free Double Door Top Mount 3 Star (2020) Convertible Refrigerator 
    (Steel Rush, RF EON 260C 35 RCIF ST RH)</h5>
    <div id="divPriceInfo" class="row">
        <div class="row"><h3><span>&#8377;</span>22,234</h3> &nbsp;&nbsp;
        <h6><del>25,900</del></h6></div>
        <div class=""><i></i></div>
    </div>
</div>
